docker/node-red/data/flows.json
[
    {
        "id": "9efb5f2ee1083070",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85add31f19547a80",
        "type": "inject",
        "z": "9efb5f2ee1083070",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "25d7d6501be4428a"
            ]
        ]
    },
    {
        "id": "a13d2efb4ee3f71c",
        "type": "http response",
        "z": "9efb5f2ee1083070",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "fc86cffd37d73b8d",
        "type": "http in",
        "z": "9efb5f2ee1083070",
        "name": "",
        "url": "/sa",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "78bb6663481c7d90"
            ]
        ]
    },
    {
        "id": "78bb6663481c7d90",
        "type": "template",
        "z": "9efb5f2ee1083070",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " OK!",
        "output": "str",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "a13d2efb4ee3f71c"
            ]
        ]
    },
    {
        "id": "25d7d6501be4428a",
        "type": "debug",
        "z": "9efb5f2ee1083070",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 260,
        "wires": []
    }
]