docker/node-red/data/flows.json
[
    {
        "id": "61c5e16b0be4839c",
        "type": "tab",
        "label": "Tutorial",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c3e42e8480bed8e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "Mosquitto-Broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7caf62dec0d49023",
        "type": "comment",
        "z": "61c5e16b0be4839c",
        "name": "Welcome to Link-Nodes",
        "info": "",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "5133180af41725a1",
        "type": "inject",
        "z": "61c5e16b0be4839c",
        "name": "Click here",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 520,
        "y": 420,
        "wires": [
            [
                "a7979b69687fa18e"
            ]
        ]
    },
    {
        "id": "a7979b69687fa18e",
        "type": "debug",
        "z": "61c5e16b0be4839c",
        "name": "Print Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "18baeed96f339814",
        "type": "comment",
        "z": "61c5e16b0be4839c",
        "name": "About this node",
        "info": "You can view this by clicking on the bug icon in the top right corner",
        "x": 820,
        "y": 460,
        "wires": []
    },
    {
        "id": "10a62896aa0f7f2b",
        "type": "comment",
        "z": "61c5e16b0be4839c",
        "name": "About this node",
        "info": "Click on the square on left side of the node",
        "x": 500,
        "y": 460,
        "wires": []
    }
]